/* ===============================
   Footer
================================*/
footer {
  border-top: 1px solid #ffffff;
  background: #a3b4c7;
  padding: 1rem;
  text-align: center;
  color: #000000;
}