/* ===============================
   Footer
================================*/
footer {
  border-top: 1px solid #ffffff;
  background: #b8c3d5;
  padding: 1rem;
  text-align: center;
  color: #000000;
}